{% extends "shared/bootstrap_base.html" %}

{% block TITLE %}Delete Rental Agreement{% endblock %}
{% block form_title %}Delete Rental Agreement{% endblock %}

{% block form_content %}
<form method="POST">

  <div class="mb-4 text-dark">
    <p class="fs-5">
      Are you sure you want to delete this?
    </p>
    <div class="alert alert-warning" role="alert">
    <p>
      <strong>Apartment Name:</strong> {{ rental_agreement["apartment_name"] }}<br>
      <strong>Tenant Name:</strong> {{ rental_agreement["tenant_name"] }}<br>
      <strong>Start Date:</strong> {{ rental_agreement["start_date"] }}<br>
    </p>
    </div>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <button type="submit" class="btn btn-danger rounded-3">Delete</button>
    <a href="{{ url_for('rental_agreements.list_rental_agreements') }}" class="btn btn-secondary rounded-3">Cancel</a>
  </div>
</form>
{% endblock %}