{% extends 'shared/base1.html' %}
{% set new_button_url = url_for('apartments.create_apartment') %}

{% block table_title %}
Apartments
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Address</th>
    <th>Name</th>
     <th></th> 
{% endblock %}

{% block table_rows %}
  {% for a in apartments %}
    <tr>
      <td>{{ a.id }}</td>
      <td>{{ a.address }}</td>
      <td>{{ a.name }}</td>
      <td class="actions-cell">
        <a href="{{ url_for('apartments.edit_apartment', id=a.id) }}" class="action-btn edit">
          <img src="{{ url_for('static', filename='images/edit.png') }}" alt="Edit" />
        </a>
        <a href="{{ url_for('apartments.delete_apartment', id=a.id) }}" class="action-btn delete">
          <img src="{{ url_for('static', filename='images/delete.png') }}" alt="Delete" />
        </a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}