body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.layout {
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    position: relative;
}


.logo {
    height: 80px;
    margin-right: 20px;
}

.icon-button {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.top-icons {
    display: flex;
    gap: 17px;
    align-items: center;
}

.welcome-text {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}


.menu-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;  
}
.menu-wrapper:hover .dropdown-menu {
    display: flex;
}

.hamburger-icon {
    font-size: 40px;
    cursor: pointer;
    color: black;
    padding: 10px;
    background-color: white;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 6px;
    padding: 10px;
    z-index: 100;
    min-width: 160px;
    flex-direction: column;
    pointer-events: auto;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 0;
    display: block;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}