{% extends "shared/base1.html" %}
{% set new_button_url = url_for('rent_payments.create_rent_payment') %}

{% block table_title %}
All Rent Payments
{% endblock %}

{% block table_headers %}
      <th>Apartment</th>
      <th>Tenant</th>
      <th>Month</th>
      <th>Amount</th>
      <th>Payment Date</th>
      <th></th>
{% endblock %}
 {% block table_rows %}
    {% for payment in rent_payments %}
      <tr>
        <td>{{ payment.apartment_name }}</td>
        <td>{{ payment.tenant_name }}</td>
        <td>{{ payment.month_display }}</td>
        <td>{{ ('%.2f'|format(payment.rent_amount)).replace('.00', '')}} €</td>
        <td>{{ payment.payment_date }}</td>
        <td class ="actions-cell">
       <a href="{{ url_for('rent_payments.edit_rent_payment', id=payment.id) }}" class="action-btn edit">
          <img src="{{ url_for('static', filename='images/edit.png') }}" alt="Edit" />
        </a>
        <a href="{{ url_for('rent_payments.delete_rent_payment', id=payment.id) }}" class="action-btn delete">
          <img src="{{ url_for('static', filename='images/delete.png') }}" alt="Delete" />
        </a>
     </td>
  </tr>
  {% endfor %}
{% endblock%}


{% block table_filters %}
<div class="filter-form-wrapper">
<form name = "filter-form" class="filter-form" method="get" action="{{ url_for('rent_payments.list_rent_payments') }}">
  <label>Apartment:</label>
  <select name="apartment_id">
    <option value="">-- All --</option>
    {% for a in apartments %}
      <option value="{{ a.id }}" {% if selected_apartment == a.id|string %}selected{% endif %}>{{ a.name }}</option>
    {% endfor %}
  </select>

  <label>Tenant:</label>
  <select name="tenant_id">
    <option value="">-- All --</option>
    {% for t in tenants %}
      <option value="{{ t.id }}" {% if selected_tenant == t.id|string %}selected{% endif %}>{{ t.name }}</option>
    {% endfor %}
  </select>

  <label>Month:</label>
  <input type="month" name="month" value="{{ selected_month or '' }}">

  <button type="submit">🔍 Filter</button>
  <a href="{{ url_for('rent_payments.list_rent_payments') }}">Reset</a>
</form>
</div>
{% endblock %}