<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block TITLE %}{% endblock %} - Rent_Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>🏠 RentTracker</h1>
    </header>
    <nav>
        <a href="{{ url_for('apartments.list_apartments') }}">Apartments</a> |
        <a href="{{ url_for('tenants.list_tenants') }}">Tenants</a> |
        <a href="{{ url_for('rental_agreements.list_rental_agreements') }}">Rental Agreements</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</html>
