{% extends "base.html" %}

{% block TITLE %}Create Rental Agreement{% endblock %}

{% block content %}
<h2>Create Rental Agreement</h2>

<form method="POST">
    <label>Apartment:</label><br>
    <select name="apartment">
    {% for ap in apartments %}
    {% for ra in agreements%}
      <option {% if ap.id != agreements.apartment_id %}value="{{ ap.id }}"{{ ap.name }}{% endif %}>
      </option>
    {% endfor%}
    {% endfor %} required
  </select><br><br>

  <label>Tenant:</label><br>
    <select name="tenant">
    {% for t in tenants %}
      <option value="{{ t.id }}" {% if t.id != agreements.tenant_id %}selected{% endif %}>
        {{ t.name }}
      </option>
    {% endfor %} required
  </select><br><br>

    <label>Address:</label><br>
    <input type="text" name="address" required><br><br>

    <button type="submit">Create</button>
    <a href="{{ url_for('apartments.list_apartments') }}">Cancel</a>
</form>
{% endblock %}
