{% extends "base.html" %}
{% block content %}
<h2>Edit Rent Payment</h2>

<form method="POST">
  <label>Apartment:</label>
  <input type="text" value="{{ rent_payment.apartment_id }}" disabled><br><br>
  <input type="hidden" name="apartment_id" value="{{ rent_payment.apartment_id }}">


  <label>Month:</label>
  <select name="months" required size="6">
    {% for month in months_display %}
      <option value="{{month.value}}" {% if month.value == rent_payment.month %}selected{% endif %}>{{ month.label }}</option>
    {% endfor %}
  </select>
  <br><br>

  <label for="payment_date">Payment Date:</label><br>
  <input type="date" name="payment_date" value="{{ rent_payment.payment_date }}" required><br><br>

  <button type="submit">Update Payment</button>
</form>

<a href="{{ url_for('rent_payments.list_rent_payments') }}">Cancel</a>
{% endblock %}
