{% extends "base.html" %}
{% block content %}
<h2>Edit Rent Payment</h2>

<form method="POST">
  <label>Apartment:</label>
  <input type="text" value="{{ rent_payment.apartment_id }}" disabled><br><br>
  <input type="hidden" name="apartment_id" value="{{ rent_payment.apartment_id }}">


  <label>Month:</label>
  <input type="text" name = "month" value="{{ rent_payment.month }}" ><br><br>

  <button type="submit">Update Payment</button>
</form>

<a href="{{ url_for('rent_payments.list_rent_payments') }}">Cancel</a>
{% endblock %}
