{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <input type="text" name="email" class="form-control" placeholder="enter email..." required>
    <input type="password" name="password" class="form-control" placeholder="enter password..." required>
<!-- Link auf reset_password Route -->
{# <a href="{{ url_for('reset_request') }}" class="forgot-password">Forgot password?</a> #}
    <div class="form-actions">
      <button type="submit" class="btn-custom btn-submit">Submit</button>
    {# <a href="{{ url_for('get_signup') }}" class="btn-custom btn-signup">Signup</a> #}
    </div>
  </form>
</div>
{% endblock %}