{% extends "shared/base.html" %}

{% block TITLE %}Create Tenant{% endblock %}

{% block content %}
<h2>Create Tenant</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>

    <div>
        {{ form.tel_num.label }}<br>
        {{ form.tel_num(size=32) }}<br>
        {% for error in form.tel_num.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>

    <div>
        {{ form.document.label }}<br>
        {{ form.document }}<br>
        {% for error in form.document.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>

    {{ form.submit() }}
    <a href="{{ url_for('tenants.list_tenants') }}">Cancel</a>
</form>

{% endblock %}

