{% extends 'shared/layout.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
{% endblock %}

{% block content %}


<div class="reset-container">
  <h1>Forgot Your Password?</h1>
  <p>Enter your email address and we will send you instructions to reset your password.</p>
  <form action="/reset_password" method="POST">
    <input type="email" name="email" class="form-control" placeholder="Enter your email..." required>

    <div class="form-actions">
      <button type="submit" class="btn-custom btn-submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}