{% extends "shared/base.html" %}

{% block extra_head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base1.css') }}">
{% endblock %}

{% block content %}
<div class="table-container">  
    <h2 class="table-title">{% block table_title %}Table Title{% endblock %}</h2>

    <table>
        <thead>
            <tr>{% block table_headers %}{% endblock %}</tr>
        </thead>
        <tbody>
            {% block table_rows %}{% endblock %}
        </tbody>
    </table>

    {% if new_button_url %}
    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ new_button_url }}">
            <img src="{{ url_for('static', filename='images/add.png') }}" alt="Add New" class="add-btn-img">
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}